@import "mixin.scss";

$size: 19px;
$color-primary: #6c7074;
$btn-color-primary:    #0d6efd;
$color-join: #fff;

* {
    box-sizing: border-box;
}

body {
    font-size: $size;
    font-family: sans-serif;
    color: $color-primary;
    margin: 0;
    padding: 0;
    background: #fffbf1;
}

.container {
    padding: 0 40px;
}

/*all link*/
a {
    @include link-modified;
}

/*all list li*/
li {
    list-style-type: none;
}

/*all <button>*/
button {
    @include btn-modified;
}

/*all button to join*/
.btn__join {
    background: $btn-color-primary;
    padding: 15px;
    border-radius: 4px;
    font-size: $size;
}

.nav {
    display: flex;
    justify-content: space-around;
    padding: 2.5rem 0;

     &__content {
        display: flex;    
    }

    &__item {
        padding: 0 20px 0 0;
    }

    &__link {
        display: block;
    }
}

/*      logo    */
.logo {
    &__btn {
        background-image: linear-gradient(to right, #f9af24, #ff9346, #ff786c, #ff6895, #ff67bd);
        margin: 13px 0 0 15px;
        height: 30px;
        padding: 5px 20px;
        border-radius: 50px;
        @include btn-modified;
    }
}

/* form in nav */
.form { 
    &__content {
        &__link {
            padding-right: 20px;
            margin-top: 15px;
        }
    }
}

/*corps de la page qui s'occupe le plus d'espace*/
.body {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 70px 0;
}

.pics {
    position: relative;
    width: 300px;
    height: 300px;
    right: 155px;

    .img1 {
            width: 387px;
            height: 443px;
        }
    &__child {
        position: absolute;
        width: 100%;
        height: 100%;
        
        &--1 {
            z-index: 4;
        }

        &--2 {
            transform: rotate(-15deg);
            z-index: 3;
            right: 15px;
            top: 15px;
        }

        &--3 {
            transform: rotate(-30deg);
            right: 25px;
            top: 35px;
            z-index: 2;
        }

        &--4 {
            transform: rotate(-45deg);
            right: 35px;
            top: 55px;
            z-index: 1;
        }
    }
}

.content {
    width: 50%;
    padding: 20px 0 0 60px;
    
    &__title {
        color: #000;
        font-size: 3rem;
    }

    &__paragraph {
        font-size: $size;
    }

    &__form__input {
        border: none;
        padding: 16px;
        width: 370px;
        border-radius: 4px;
        margin-right: 10px;
        font-size: $size;
    }

    &__notice__check {
        position: relative;
        top: 5px;
        padding-right: 20px;

    }
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 70px 0;

    &__content {
        display: flex;
    }

    &__social {
        padding-left: 65px;

        &__item {
            padding-right: 20px;
        }
    }

    &__help {
        padding-right: 70px;

        &__img {
        padding: 18px 10px;
    }

        &__link {
            color: #000;
            font-weight: bold;
        }
    }
}